<%- include ("partials/header") %>
<div class="jumbotron bg-light text-left rounded">
  <div class="container d-flex flex-column bg-white p-4 rounded">
    <p class="badge badge-danger align-self-end">
      <%= component.codeType.toUpperCase() %> App
    </p>
    <h1 class="h1 mb-5"><%= component.name.toUpperCase() || "" %></h1>
    <div class="bg-warning rounded pt-2 pb-2 pl-2">
      <p class="lead"><strong>Component: <%= component._id %></strong></p>
      <button class="btn btn-primary">Copy ID</button>
    </div>
    <p class="lead mt-2 mb-2">
      <em><strong>Description</strong></em
      >: <u><%= component.description || "" %></u>
    </p>

    <p class="lead text-primary">
      <strong>Tags: <%= component.tags || "" %></strong>
    </p>
    <img
      src="<%= component.image || '' %>"
      alt="<%= component.name || '' %>"
      class="img-fluid w-25"
    />

    <div class="code-section rounded bg-dark text-light p-2 mt-2">
      <%= component.sanitizedCode.html || "" %>
      <button class="btn btn-primary">Click to Copy</button>
    </div>
    <div class="code-section rounded bg-dark text-light p-2 mt-2">
      <%= component.sanitizedCode.css || "" %>
      <button class="btn btn-primary">Click to Copy</button>
    </div>
    <div class="code-section rounded bg-dark text-light p-2 mt-2">
      <%= component.sanitizedCode.js || "" %>
      <button class="btn btn-primary">Click to Copy</button>
    </div>
    <div class="btn-group mt-2 p-2 bg-light">
      <a href="/components/<%= component._id %>/edit" class="btn btn-warning"
        >Edit</a
      >
      <a href="/components/<%= component._id %>/delete" class="btn btn-primary"
        >Delete</a
      >
    </div>
  </div>
</div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<%- include ("partials/footer") %>
