<%- include ("partials/header") %>
<div class="jumbotron bg-light text-left rounded">
  <div class="container d-flex flex-column p-4 rounded">
    <p class="badge badge-danger align-self-end">
      <%= component.codeType.toUpperCase() %> App
    </p>
    <h1 class="h1 mb-5"><%= component.name.toUpperCase() || "" %></h1>
    <div class="bg-light rounded p-2">
      <p class="lead"><strong>Component: <%= component._id %></strong></p>
      <button class="btn btn-primary">Copy ID</button>
    </div>
    <p class="lead mt-2 mb-2">
      <em><strong>Description</strong></em
      >: <u><%= component.description || "" %></u>
    </p>

    <p class="lead text-primary">
      <strong>Tags: <%= component.tags || "" %></strong>
    </p>
    <img
      src="<%= component.image || '' %>"
      alt="<%= component.name || '' %>"
      class="img-fluid w-25"
    />
    <button id="showCodeOnDashboard" class="btn btn-success">Show Code</button>
    <div class="hidden d-flex">
      <div
        class="code-section rounded flex-column col bg-dark text-light p-2 mt-2"
      >
        <button class="btn btn-primary">Click to Copy</button>
        <code> <%= component.sanitizedCode.html || "" %> </code>
      </div>
      <div
        class="code-section rounded flex-column ml-2 mr-2 col bg-dark text-light p-2 mt-2"
      >
        <button class="btn btn-primary">Click to Copy</button>
        <code> <%= component.sanitizedCode.css || "" %> </code>
      </div>
      <div
        class="code-section rounded flex-column col bg-dark text-light p-2 mt-2"
      >
        <button class="btn btn-primary">Click to Copy</button>
        <code> <%= component.sanitizedCode.js || "" %> </code>
      </div>
    </div>
    <% if(component.user == user.id){ %>
    <div class="btn-group bg-light">
      <a href="/components/<%= component._id %>/edit" class="btn btn-warning"
        >Edit</a
      >
      <a href="/components/<%= component._id %>/delete" class="btn btn-danger"
        >Delete</a
      >
    </div>
    <% } %>
  </div>
</div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>

<script>
  document
    .getElementById("showCodeOnDashboard")
    .addEventListener("click", function () {
      this.textContent =
        this.textContent === "Hide Code" ? "Show Code" : "Hide Code";
      document.querySelectorAll(".code-section").forEach(function (el) {
        el.classList.toggle("show");
      });
    });
</script>
<%- include ("partials/footer") %>
