<%- include ("partials/header") %>
<div class="jumbotron text-center">
  <div class="container">
    <p class="lead mb-3">Components:</p>
    <div class="row">
      <% for (var i = 0; i < components.length; i++) { %>
      <div class="col">
        <div
          class="card bg-light p-4 rounded"
          style="
            background: url(<%= components[i].image %>) no-repeat;
            background-size: cover;
            background-postion: center;
          "
        >
          <h5 class="card-title"><%= components[i].name %></h5>
          <div class="card-body">
            <p class="card-text"><%= components[i].description %></p>
            <a
              href="/components/<%= components[i]._id %>"
              class="btn btn-primary"
              >See more</a
            >
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<%- include ("partials/footer") %>
