<%- include ("partials/header") %>
<div class="jumbotron jumbotron-fluid text-center">
  <div class="custom">
    <h1 class="mt-4">Dashboard</h1>

    <p class="lead mb-3">WELCOME <%= user.firstName.toUpperCase() %></p>

    <div
      class="black container rounded text-center justify-content-center d-flex p-2"
      role="group"
      style="max-width: fit-content"
    >
      <a href="/components" class="btn btn-outline-info mr-2">All components</a>
      <a href="/components/new" class="btn btn-outline-success ml-2"
        >Create a new component</a
      >
    </div>
  </div>
</div>
<div class="container p-4 rounded">
  <h3 class="text-center display mb-4">5 Newest Components:</h3>
</div>
<div class="container p-3 rounded">
  <div class="row">
    <% if (components.length > 0) { %> <% components.forEach(component => { %>

    <div class="col">
      <div class="card black text-white flex-column">
        <img
          src="<%= component.image || '' %>"
          alt="<%= component.name || '' %>"
          class="card-img-top"
          width="100%"
        />

        <div class="card-body">
          <small><%= component.createdAt.toDateString() %></small>
          <h2 class="card-title h4">
            <%= component.name.toUpperCase() || "" %>
          </h2>
          <p class="badge badge-danger align-self-end">
            <%= component.codeType.toUpperCase() %> App
          </p>
          <p class="badge badge-info">
            Created by
            <a class="text-white" href="mailto:<%= component.user.email %>"
              ><%= component.user.email %></a
            >
          </p>

          <p class="card-text">
            <em><strong>Description</strong></em
            >: <u><%= component.description || "" %></u>
          </p>

          <p class="card-text text-primary">
            <strong>Tags: <%= component.tags || "" %></strong>
          </p>

          <a
            class="btn btn-warning w-100"
            href="/components/<%= component._id %>"
            >View</a
          >
        </div>
        <% if(component.user == user.id){ %>
        <div class="btn-group bg-light">
          <a
            href="/components/<%= component._id %>/edit"
            class="btn btn-warning"
            >Edit</a
          >
          <a
            href="/components/<%= component._id %>/delete"
            class="btn btn-danger"
            >Delete</a
          >
        </div>
        <% } %>
      </div>
    </div>

    <% }) %> <% } else { %>
    <div class="container">
      <h4 class="h4">NO COMPONENTS</h4>
    </div>
    <% } %>
  </div>
  <a class="mt-4 mb-4 btn btn-success w-100" href="/components">View All</a>
</div>
<%- include ("partials/footer") %>
